/* Home.css */
.home-container {
  text-align: center;
  margin-top: 100px;
}

.home-title {
  color: #333;
  font-size: 2rem;
}

.home-paragraph {
  color: #666;
  font-size: 1.2rem;
}

.home-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.home-button:hover {
  background-color: #0056b3;
}
