.home {
  display: flex;
  height: 100vh;
}

.home-content {
  flex: 1;
  padding: 32px;
  background-color: #f4f4f4;
}

.home-content h1 {
  font-size: 28px;
  margin-bottom: 16px;
}

.home-content p {
  font-size: 18px;
}
